@media (max-width: 767px){
    .responsiveNav{
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../img/fondo-header.webp);
      background-size: contain;
      height: 15vh;
      width: 100%;
      display: flex;
      display: flex;
      justify-content:flex-start;  
      align-items: center;

    }
    .hamburger {
      position: relative;
      background-color: transparent;
      left: 0;
      top: 0;
      transform: translate3d(0, 0, 0);
      transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
      z-index: 1002;
      cursor: pointer;     
      overflow: visible;
      margin: 35px 5%;
    }
    
    ._layer {
      background: #fff;
      margin-bottom: 4px;
      border-radius: 2px;
      width: 28px;
      height: 4px;
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
    
    .hamburger {
      &:hover {
        .-top {
          transform: translateY(-100%);
        }
    
        .-bottom {
          transform: translateY(100%);
        }
      }
    
      &.is-active  {
       position: fixed;
        .-top {
          transform: translateY(200%) rotate(45deg) ;
        }
    
        .-mid {
          opacity: 0;
        }
    
        .-bottom {
          transform: translateY(-200%) rotate(135deg);
        }
      }
    }
    
    .menuppal {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow-y: scroll;
      position: fixed;
      top: 0;
      transform: translate3d(0px, -100%, 0px);
      transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
      width: 100%;
      z-index: 1001;
        &.is_active {
            transform: translate3d(0px, 0px, 0px);
            background-color: map-get($map: $colores, $key: linea );
            background-size: cover;
        }
    
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    
        li {
          list-style: none;
          text-align: center;
          color: #fff;
          font-size: 1.5rem;
          line-height: 1.7em;
          height: 3em;
          text-transform: none;
          font-weight: bold;
    
          a {
            text-decoration: none;
            color: #fff;
    
            &:hover {
              text-decoration: none;
              color: #333;
            }
          }
        }
      }
    }
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
        img{
            width: 100%;
        }
    }
    .logoT{
      transform: translateX(20%);
    }
}
@media (min-width: 768px){
    .responsiveNav{
        display: none;
    }
}