<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link a css local-->
    <link rel="stylesheet" href="../css/main.css">
    <!--titulo-->
    <title>Finca Don Juan | Gracias por su compra</title>
    <link rel="shortcut icon" href="img/logopng.png" type="image/x-icon">
     <!--icono-->
     <link rel="shortcut icon" href="../img/1.webp" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e18cc0d570.js" crossorigin="anonymous"></script>
</head>
<body>
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gracias!</title>
        <script src="https://kit.fontawesome.com/e18cc0d570.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
    
    </head>
    <body>
        <h1>Gracias por su compra!</h1>
        <p>En unos minutos un encargado se comunicara para ultimar detalles</p>
    </body>
    <footer>
        <div>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
            <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a>
        </div>
    </footer>
</html>